


.pageContainer{
    height: 70vw;
    margin: 0;
    background-image: url("https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltf930a7a2b83fff60/5e17887df980a27e5b76ac2f/teamfighttactics.jpg");
    background-position: -1vw;
}


.itemsMenu{
    position: absolute;
    top: 5vw;
    left: 12vw;

}




.webglContainer{
    overflow: hidden;
    z-index: 1;
}



#uiContainer{
    position: absolute;
    top: 10vw;
    right: 4vw;
    padding: 3vw;
    border: rgba(255, 255, 255, 0.4) solid 2px;
    clip-path: inset(0 round 0 50%);
    animation: uiClipBorderShow 1s;
}


/* for shaders. */
pre{
    display: none;
    
}





@keyframes canvasBorderShow {
    from {
        border-image-source: radial-gradient(0% 0%, transparent 0px, transparent 100%, cyan 100%);
    }
    to {
        border-image-source: radial-gradient(70% 60%, transparent 0px, transparent 100%, cyan 100%);
    }
}

@keyframes canvasClipShow{
    from {
        clip-path: polygon(50% 25%,75% 50%,50% 75%, 25% 50%);
    }
    to{
        clip-path: polygon(120% -20%, 120% 120%, -20% 120%, -20% -20%);
    }
}

@keyframes uiClipBorderShow{
    from {
        clip-path: inset(0 round 0 0%);
    }
    to {
        clip-path: inset(0 round 0 50%);
    }
}


