@font-face {
    font-family: "frozen";
    src: url("./resource/ft.woff");
}


.pageContainer{

    margin: 0;
    // background-image: url("https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltf930a7a2b83fff60/5e17887df980a27e5b76ac2f/teamfighttactics.jpg");
    background-position: -2vw 1vw;
    background-size: cover;
    padding-bottom: 20vw;
}


.webglContainer{
    position: relative;
    z-index: 1;
    width: 75%;
    height: 50vw;
    padding-top: .1vw;
    margin: 0 auto;
}

//effect canvas.
.effect{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 25%;
    right: 0;
}

.effect .loadingPage{
    z-index: 4;
    position: absolute;
    left: 0;
    top: 10%;
    bottom: -12%;
    right: 0;
    .label{
        font-family: "frozen", serif;
        font-size: 2.2em;
        font-weight: 600;
        color: #0bc6e3;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    @keyframes loader {
    0%{
        background: rgb(250, 217, 30);
        width:0%;
    }20%{
        width:100%;
    }39%{
        background: rgb(250, 217, 30);
    }40%{
        background: rgb(249, 223, 76);
        width: 0%
    }60%{
        width: 100%;
    }80%{
        width:0%;
    }100%{
        background: rgb(249, 223, 76);
        width: 0%;
    }
    
    }
    
    @keyframes loaderAlt {
    0%{
        background: gold;
        width:100%;
    }19%{
        background: gold;
    }20%{
        background: rgb(249, 229, 115);
        width: 0%;
    }40%{
        width: 100%;
    }59%{
        background: rgb(249, 229, 115);
    }60%{
        background: gold;
        width: 0;
    }80%{
        width: 100%;
    }100%{
        background: gold;
        width: 100%
    }
    
    }
    .loading{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
    }
    .loader__bar{
    display: flex;
    flex: 1;
    position: relative;
    width: 100%;
    }
    .loader__bar:before{
    animation: loader ease 8s infinite;
    animation-delay: 100ms;
    background: gold;
    background-size: 200% 200%;
    content: "";
    height:100%;
    width: 0%;
    
    }
    .loader__bar:after{
    animation: loaderAlt ease 8s infinite;
    animation-delay: 100ms;
    background-size: 200% 200%;
    content: "";
    height: 100%;
    width: 100%;
    }
    .loader__bar--delay-1:before,
    .loader__bar--delay-1:after{
    animation-delay: 200ms;
    }
    .loader__bar--delay-2:before,
    .loader__bar--delay-2:after{
    animation-delay: 300ms;
    }
    .loader__bar--delay-3:before,
    .loader__bar--delay-3:after{
    animation-delay: 400ms;
    
    }
    .loader__bar--delay-4:before,
    .loader__bar--delay-4:after{
    animation-delay: 500ms;
    }
    .loader__bar--delay-5:before,
    .loader__bar--delay-5:after{
    animation-delay: 600ms;
    
    }
}


.effect .screenUi{
    position: absolute;
    left: 0;
    top: 10%;
    bottom: -10%;
    right: 0;
    display: flex;
    flex-direction: column;
}

.screenUi{
    z-index: 3;
    .carInfo{
        position: absolute;
        left: 28%;
        top: 45%;
        width: 30px;
        height: 30px;
        color: gold;
        border: 3px white solid;
        border-radius: 50%;
        font-size: 1.3vw;
        cursor: pointer;
        &:hover{
            transform: scale(1.05);
            border: 4px gold solid;
        }
        &::before{
            content: attr(data-content);
            color: rgb(244, 218, 19);
            font-size: 13px;
            padding: 10px;
            position: absolute;
            left: 150%;
            top: -10vw;
            border: 3px rgba(255, 255, 255, 0.51) solid;
            border-radius: 5px; 
            width: 0;
            height: 0;
            opacity: 0;
            transition: all 1s ease;
            overflow: hidden;
            
        }
        
    }
    .carInfo:hover{
        &::before{
            width: 15vw;
            height: 8vw;
            opacity: 1;
        }
    }

    .title{
        background: url("./resource/images/ft.jpg");
        font-family: "frozen", serif;
        font-size: 5vw;
        font-weight: 500;
        color: transparent;
        -webkit-background-clip: text;
        position: relative;
        margin: 1vw;
        
    }
    .title::before {
        content: attr(data-heading);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        mix-blend-mode: screen;
        color: transparent;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2),
            -2px 2px 10px rgba(0, 0, 0, 0.2),
                -2px -2px 10px rgba(0, 0, 0, 0.2);
    }
    .author{
        position: absolute;
        left: 20px;
        bottom: 0; 
        font-family: "frozen", serif;
        font-size: 1.5vw;
        color: rgb(255, 217, 0);
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2),
        -2px 2px 10px rgba(0, 0, 0, 0.2),
            -2px -2px 10px rgba(0, 0, 0, 0.2);
    }
    .buttons{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 3vw;
        font-family: "frozen", serif;
        font-size: 2.2em;
        font-weight: 600;
        color: #0bc6e3;
        text-align: right;
        cursor: pointer;

        .button{
            padding-top: .5vw;
            position: relative;
            transition: all .5s ease;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2),
            -2px 2px 10px rgba(0, 0, 0, 0.2),
                -2px -2px 10px rgba(0, 0, 0, 0.2);
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                width: 0%;
                height: 7%;
                background-color: gold;
                border-radius: 0.1vw;
                transition: all 0.5s ease;
            }
            &::before{
                right: -5%;   
            }
            &::after{
                background-color: rgba(255, 255, 255, 0.481);
                content: '';
                position: absolute;
                bottom: 0;
                right: -5%;
                top: 0;
                width: 0;
                z-index: -1;
                border-radius: 5px;
                transition: all 0.5s ease;
            }
            &:hover{
                color: gold;
                transform: scale(1.01) translateX(-2vw);
                &::before{
                    width: 105%;
                }
                &::after{
                    width: 108%;
                }
            }
        }
    }
        
}



@keyframes glare {
    0% {
        background-position: -100%;
    }
    100% {
        background-position: 100%;
    }
}


.desPanel{
    width: 80vw;
    height: 20vw;
    position: relative;
    margin: 0 auto;
}


.sidePanel{
    .mainPanel{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 25vw;
        width: 18vw;
    }
    .debugPanel{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 20vw;
        width: 18vw;
    }
}

.debugPanelTransition-enter-active{
    transition: opacity 1s;
}
.debugPanelTransition-enter{
    opacity: 0;
}
.debugPanelTransition-leave-active{
transition: opacity 1s;
}
.debugPanelTransition-leave-to{
opacity: 0;
}



@media @min992 {
    .webglContainer {
        width: 80%;
        padding: 5vw;
        padding-top: 15vw;
        min-height: 350px;
        height: 45vh;
    }
    .desPanel{
        margin-top: 12vh;
        height: 50vh;
    }
    .sidePanel{
        display: none;
    }
}









@keyframes canvasBorderShow {
    from {
        border-image-source: radial-gradient(0% 0%, transparent 0px, transparent 100%, cyan 100%);
    }
    to {
        border-image-source: radial-gradient(70% 60%, transparent 0px, transparent 100%, cyan 100%);
    }
}

@keyframes canvasClipShow{
    from {
        clip-path: polygon(50% 25%,75% 50%,50% 75%, 25% 50%);
    }
    to{
        clip-path: polygon(120% -20%, 120% 120%, -20% 120%, -20% -20%);
    }
}

@keyframes uiClipBorderShow{
    from {
        clip-path: inset(0 round 0 0%);
    }
    to {
        clip-path: inset(0 round 0 50%);
    }
}


