/* global*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
	text-decoration: none; 
	outline: none;	
	color: #000;	
}




/*Text.*/
span{
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
    mask: radial-gradient(circle at 0 50%, #000, transparent 10%, transparent 0);
    mask-size: 10000%;
    animation: textShow 3s;
}




