@keyframes opacityShow {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes textShow {
    from{
        mask-size: 100%;
    }
    to{
        mask-size: 10000%;
    }
}

@keyframes transformToRight {
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0);
    }
}