


.pageContainer{

    margin: 0;
    background-image: url("https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltf930a7a2b83fff60/5e17887df980a27e5b76ac2f/teamfighttactics.jpg");
    background-position: -1vw;
    padding-bottom: 20vw;
}


.webglContainer{
    position: relative;
    z-index: 2;
    width: 40%;
    height: 30vw;
    padding-top: 2vw;
    margin: 0 auto;
}

.desPanel{
    width: 80vw;
    height: 20vw;
    position: relative;
    margin: 0 auto;
}


.sidePanel{
    .mainPanel{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .debugPanel{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
}

.debugPanelTransition-enter-active{
    transition: opacity 1s;
}
.debugPanelTransition-enter{
    opacity: 0;
}
.debugPanelTransition-leave-active{
transition: opacity 1s;
}
.debugPanelTransition-leave-to{
opacity: 0;
}



@media @min992 {
    .webglContainer {
        width: 80%;
        padding: 5vw;
        padding-top: 15vw;
        min-height: 350px;
        height: 45vh;
    }
    .desPanel{
        margin-top: 12vh;
        height: 50vh;
    }
    .sidePanel{
        display: none;
    }
}









@keyframes canvasBorderShow {
    from {
        border-image-source: radial-gradient(0% 0%, transparent 0px, transparent 100%, cyan 100%);
    }
    to {
        border-image-source: radial-gradient(70% 60%, transparent 0px, transparent 100%, cyan 100%);
    }
}

@keyframes canvasClipShow{
    from {
        clip-path: polygon(50% 25%,75% 50%,50% 75%, 25% 50%);
    }
    to{
        clip-path: polygon(120% -20%, 120% 120%, -20% 120%, -20% -20%);
    }
}

@keyframes uiClipBorderShow{
    from {
        clip-path: inset(0 round 0 0%);
    }
    to {
        clip-path: inset(0 round 0 50%);
    }
}


